[Desktop Entry]
Version=0.1
Type=Application
Name=Manjaro Application Utility
Comment=Manjaro Application Utility
Categories=Utility;
Exec=app-utility
Icon=system-software-install
